:root {
  --color--primary: #3b82f6;
}

.SliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  user-select: none;
}

.Slider-trackLayout {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.Slider-track {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.Slider-track-background {
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.Slider-track-fill {
  background: var(--color--primary);
  position: absolute;
  width: 20%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Slider-tooltipRoot {
  position: absolute;
  left: 0;
  top: 50%;
}

.Slider-tooltipParent {
  position: relative;
  opacity: 0;
}
.Slider-tooltipParent.hovered {
  opacity: 1;
}

.Slider-hoverTimeMarker {
  position: absolute;
  left: -0.5px;
  top: 0;
  width: 1px;
  height: 20px;
  transform: translateY(-50%);
  background: #3b82f6;
  opacity: 0;
  pointer-events: none;
}
.Slider-hoverTimeMarker.hovered {
  opacity: 1;
}

.Slider-tooltipContent {
  pointer-events: none;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
}

.Slider-knobTouchTarget {
  position: absolute;
  transform-origin: center;
  cursor: grab;
}
.Slider-knobTouchTarget--pressed {
  cursor: grabbing;
}

.Slider-knob {
  width: 14px;
  height: 14px;
  margin: 4px;
  border: 3px solid white;
  background: var(--color--primary);
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transform-origin: center;
  transition: all 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  pointer-events: none;
}
.Slider-knob--pressed {
  /* transform: scale(1.2); */
}

.Slider-knobTouchTarget:not(.Slider-knobTouchTarget--pressed):hover
  .Slider-knob {
  transform: scale(1.1);
  box-shadow: 0px 0px 1px 2px var(--color--primary);
}

.CurrentTime {
  user-select: none;
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}
.CurrentTime.hovered,
.CurrentTime.pressed {
  color: rgb(255, 255, 255);
}

// TODO: delete
.PlayPauseButton {
  margin-top: 8px;
}
